werkzeug==3.0.1
flask==3.0.0
flask-reuploaded==1.4.0
flask-wtf==1.2.1
torch==2.1.0
torchvision==0.16.0
WTForms==3.1.1
imageai==3.0.3
numpy==1.25.2
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
pandas==2.1.2
tzdata==2023.3
pytz==2023.3.post1
python-dotenv==1.0.0
openai==0.28